* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(98, 97, 44, 0.718);
    z-index: -1;
}

#calculator {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #2E2E2E;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Arial;
    overflow: hidden;
}

#calculator #display {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3.5rem;
    padding: 2%;
    height: 20%;
    background-color: #4c4848;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#calculator #work-table {
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    height: 80%;
}

#calculator .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #646363;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 80px;
    cursor: pointer;
}

#calculator .operation-button {
    background-color: #f6b53d;
}

#calculator .button:hover {
    background-color: #a09c9c;
}

#calculator .operation-button:hover {
    background-color: #efc982;
}